{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oncargas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Carfecregistro</th>
                <th>Cartipo</th>
                <th>Carobservacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for onCarga in onCargas %}
            <tr>
                <td><a href="{{ path('oncargas_show', { 'id': onCarga.id }) }}">{{ onCarga.id }}</a></td>
                <td>{% if onCarga.carFecRegistro %}{{ onCarga.carFecRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ onCarga.carTipo }}</td>
                <td>{{ onCarga.carObservacion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('oncargas_show', { 'id': onCarga.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('oncargas_edit', { 'id': onCarga.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('oncargas_new') }}">Create a new onCarga</a>
        </li>
    </ul>
{% endblock %}
