{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oncarga</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ onCarga.id }}</td>
            </tr>
            <tr>
                <th>Carfecregistro</th>
                <td>{% if onCarga.carFecRegistro %}{{ onCarga.carFecRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cartipo</th>
                <td>{{ onCarga.carTipo }}</td>
            </tr>
            <tr>
                <th>Carobservacion</th>
                <td>{{ onCarga.carObservacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('oncargas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('oncargas_edit', { 'id': onCarga.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
