{% block stylesheets %}
    <link href="{{asset('npstyle.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.base.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.ui-redmond.css')}}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{{asset('jqx/scripts/jquery-1.11.1.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcore.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxmenu.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxpasswordinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxnumberinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdatetimeinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdata.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcalendar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxtooltip.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/globalization/globalize.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxbuttons.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxscrollbar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxtextarea.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcheckbox.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxlistbox.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdragdrop.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdropdownlist.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxexpander.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxvalidator.js')}}"></script>

{% endblock %}
{% block body -%}
    {% set acceso = false %}
    {% if app.user %}
        {% for rol in app.user.roles %}
            {% if rol == 'ADMINISTRADOR'%}
                {% set acceso = true %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if app.user and acceso == true %}
        <table width ="100%" height="100%" align="center" valign="top" style="background-color: #626262">
            <tr>
                <td align="center" valign="top">
                    <div id="crearUsuario" style="font-family: Verdana; font-size: 13px;">
                        <div>
                            Nueva Campaña
                        </div>
                        <div style="font-family: Verdana; font-size: 13px;">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            {#                    <form id="form" style="overflow: hidden; margin: 10px;" action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>#}
                            <table>
                                <tr>
                                    <td>Nombre</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_widget(form.camNombre,{'id':'camNombre','attr':{'readonly':false}}) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Estado</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_widget(form.camEstado,{'id':'camEstado','attr':{'readonly':true}}) }}
                                    </td>
                                </tr>



                                <tr>
                                    <td colspan="2" align="center"><hr>
                                        <input id="valida" type="button" value="Guardar" />
                                        <a href="{{ path('oncampanas_index') }}"><input id="cerrar" type="button" value="Cerrar" /></a>
                                        <input id="submit" type="submit" style="display:none" />
                                    </td>
                                </tr>
                            </table>
                            {{ form_end(form)}}
                        </div>
                    </div>
                </td>
            </tr>
        </table>


        <script type="text/javascript" language="javascript">
            var onCampanas = {{onCampanas|json_encode|raw}};
            // Create jqxExpander.
            $("#crearUsuario").jqxExpander({  toggleMode: 'none', width: '400px', showArrow: false, theme: 'ui-redmond' });
            // Create jqxInput.
            $("#camNombre").jqxInput({  width: '250px', height: '20px', maxLength: 250, theme: 'light'});
            $("#camEstado").jqxInput({  width: '250px', height: '20px', maxLength: 250, theme: 'light'});
            $("#camEstado").val('ACTIVO');

            $("#valida").jqxButton({ theme: 'ui-redmond' });
            $("#cerrar").jqxButton({ theme: 'ui-redmond' });


            // Create jqxValidator.
            $("form").jqxValidator({
                rules: [
                    {
                        input: "#camNombre",
                        message: "Nombre es requerido!",
                        action: 'keyup, blur',
                        rule: function (input, commit) {
                            return input.val() != "" && input.val() != "First";
                        }
                    }

                ]
            });
            // Validate the Form.
            $("#valida").click(function () {
                $('form').jqxValidator('validate');
            });

            $('form').on('validationSuccess', function (event) {
                $('#submit').click();
            });

            var control="";
            $("form").submit(function( event ) {
                if(control != ''){
                    return false;
                }
                var val =0;
                onCampanas.map(function (person) {
                    if (person.camNombre.toUpperCase() == $('#camNombre').val().toUpperCase()) {
                        val = 1;
                    }
                });
                if(val == 1){
                    alert("Nombre de Campaña no disponible!");
                    $('#camNombre').focus();
                    return false;
                }

                control = "submit";
            });

        </script>
    {% else%}
        <h2>NO TIENE PERMISOS DE ACCESO </h2>
    {% endif %}

{% endblock %}
