{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oncampana</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ onCampana.id }}</td>
            </tr>
            <tr>
                <th>Camnombre</th>
                <td>{{ onCampana.camNombre }}</td>
            </tr>
            <tr>
                <th>Camestado</th>
                <td>{{ onCampana.camEstado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('oncampanas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('oncampanas_edit', { 'id': onCampana.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
