<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ADITECEC{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link href="{{asset('npstyle.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('jqx/jqwidgets/styles/jqx.base.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('jqx/jqwidgets/styles/jqx.ui-redmond.css')}}" rel="stylesheet" type="text/css" />
{#            <link href="{{asset('jqx/jqwidgets/styles/jqx.ui-lightness.css')}}" rel="stylesheet" type="text/css" />#}
            <script type="text/javascript" src="{{asset('jqx/scripts/jquery-1.11.1.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcore.js')}}"></script>
            <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxbuttons.js')}}"></script>
            <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxnotification.js')}}"></script>
            <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxinput.js')}}"></script>
            <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxmenu.js')}}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
            <div id="jqxNotification" >
                <div id="texto">
                </div>
            </div>
            {%if not app.user %}
                <div id="capa" style=" left: 0px; top:0px;position: absolute; background-color: #000; opacity: 0.8; width:100%; height: 1175px; z-index: 10003;display: block; ">

                </div>
                <div id="login" style="position: absolute; background-color: #626262 ;  width:300px; height: 230px; z-index: 10004;display: block; left: 50%;  top: 50%;  -webkit-transform: translate(-50%, -50%);  transform: translate(-50%, -50%); border-radius: 10px;">
                    {% block login %}
                        {% block fos_user_content %}{% endblock %}
                    {% endblock %}
                </div>   

            {% else %}
                
                <table width="100%" valign="top" style="background-color: white ">
                    <tr height="10px">
                        <td colspan="2" align="left"  style="padding-right:50px">
                            {#{%if app.user.roles[0] == 'ADMINISTRADOR' %}
                                <font color="#f6a828" size="3"> Usuario: {{app.user.usuNombre}} &nbsp;&nbsp; Perfil: {{app.user.roles[0]}}</font>
                            {% endif %}#}
                        </td>
                    </tr>
                    <tr height="70px">
                        
                        <td width="60%"  align="center" valign="bottom">
                            <div id='jqxWidget' >
                                
                                    <div id='jqxMenu' style='visibility: hidden; margin-left: 5px;'>
                                        <ul>
                                            <li>Bienvenido:</li>
                                            <li>{{app.user.username|slice(0,50)}}</li>
                                            <li>&nbsp;|&nbsp;&nbsp;</li>
                                            {%if app.user.roles[0] == 'ADMINISTRADOR' %}
                                                
                                                <li>Usuarios
                                                    <ul style='width: 250px;'>
                                                        <li><a href="{{ path('user_new') }}" target="contenido">Nuevo Usuario</a></li>
                                                        <li><a href="{{ path('user_index') }}" target="contenido">Listado Usuario</a></li>
                                                    </ul>
                                                </li>
                                                <li>Campañas
                                                    <ul style='width: 250px;'>
                                                        <li><a href="{{ path('oncampanas_new') }}" target="contenido">Nueva Campaña</a></li>
                                                        <li><a href="{{ path('oncampanas_index') }}" target="contenido">Listado Campañas</a></li>
                                                    </ul>
                                                </li>
                                                <li>&nbsp;|&nbsp;&nbsp;</li>
                                                <li>Periodos
                                                    <ul style='width: 250px;'>
                                                        <li><a href="{{ path('onperiodos_new') }}" target="contenido">Nueva Periodo</a></li>
                                                        <li><a href="{{ path('onperiodos_index') }}" target="contenido">Listado Periodos</a></li>
                                                    </ul>
                                                </li>
                                                <li>&nbsp;|&nbsp;&nbsp;</li>
                                                <li><a href="{{ path('oncuadromo_index') }}" target="contenido"></a>PANEL</li>
                                                </li>
                                            {%else%}
                                                    <li>{{app.user.roles[0]}}</li>
                                            {% endif%}
                                            <li id="logout"><a href="{{ path('fos_user_security_logout') }}">Cerrar Sesión</a>
                                                <ul>
                                                    <li id="camClave"><a href="{{ path('fos_user_change_password') }}" target="contenido">Cambiar Clave</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                        </td>
                        <td width="40%"  align="center" valign="center">
{#                            <img width="70%" height="70%" src="logo-northern.jpg" alt="logo-northern">#}
                        </td>
                    </tr>
                    <tr height="10px">
                        <td colspan="2">
                            &nbsp;
                        </td>
                    </tr>
                    <tr >
                        <td colspan="2" width="100%" valign="top">
                            <div class="embed-container">
                                {%if app.user.roles[0] == 'ADMINISTRADOR' %}
                                    <iframe id="contenido" height="100%" style="width:100%;" name="contenido" src="{{ path('onperiodos_index') }}" frameborder="0" allowfullscreen scrolling="yes"></iframe>
                                {%else%}
                                    {%if app.user.roles[0] == 'EMPRESA' %}
{#                                        <iframe id="contenido" height="100%" style="width:100%;" name="contenido" src="{{ path('nlcargas_empresas_panel',{'ruc':app.user.username}) }}" frameborder="0" allowfullscreen scrolling="no"></iframe>#}
                                    {%else%}
                                        <iframe id="contenido" height="100%" style="width:100%;" name="contenido" src="{{ path('onperiodos_index') }}" frameborder="0" allowfullscreen scrolling="yes"></iframe>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                </table>
            {% endif %}

    </body>

</html>

<script language="javascript" type="text/javascript">
$("#jqxMenu").jqxMenu({ width: '90%', height: '30px', animationShowDuration: 300, animationHideDuration: 200, animationShowDelay: 200, enableHover: true, autoOpen: true, showTopLevelArrows: false, theme: 'ui-redmond'});
$("#jqxMenu").css('visibility', 'visible');
$("#logout").css('float','right');
</script>        