{#{% extends '::base.html.twig' %}#}
{% block stylesheets %}
    <link href="{{asset('npstyle.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.base.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.orange.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.ui-lightness.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.ui-smoothness.css')}}" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="{{asset('jqx/scripts/jquery-1.11.1.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcore.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdata.js')}}"></script> 
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxmenu.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.pager.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.sort.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.filter.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.columnsresize.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.grouping.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.selection.js')}}"></script> 
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdata.export.js')}}"></script> 
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.export.js')}}"></script> 
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxmenu.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxfileupload.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdatetimeinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcalendar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxtooltip.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/globalization/globalize.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxbuttons.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxscrollbar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxtextarea.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcheckbox.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxlistbox.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdragdrop.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdropdownlist.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxexpander.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxvalidator.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxprogressbar.js')}}"></script>
    
{% endblock %}
{% block body -%}
    {% set acceso = false %}    
{% if app.user %}
    {% for rol in app.user.roles %}
        {% if rol == 'ADMINISTRADOR'%}
            {% set acceso = true %}    
        {% endif %}
    {% endfor %}
{% endif %}

{% if app.user and acceso == true %}
<table width="100%" align="center" valign="top" style="background-color: #626262">
    <tr>
        <td align="center" valign="top">
            <div id="crearUsuario"  style="font-family: Verdana; font-size: 13px;">
                <div>
                     Carga de Facturas
                </div>
                <div style="font-family: Verdana; font-size: 13px;">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
{#                    <form id="form" style="overflow: hidden; margin: 10px;" action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>#}
                        <table >
                            <tr>
                                <td >Fecha de Carga</td>
                                <td >Tipo de Carga</td>
                            </tr>
                            <tr>
                                <td >
                                    <div id="jqxcarfecregistro"></div>
                                    {{ form_widget(form.carFecRegistro,{'id':'carFecRegistro','attr':{'readonly':true,'style':'display:none'}}) }}
                                </td>
                                <td >
                                    {{ form_widget(form.carTipo,{'id':'carTipo','attr':{'readonly':true}}) }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><hr></td> 
                            </tr>
                            <tr>
                                <td >Carga de Datos</td> 
                                <td>
                                    <div id="cargando" style='margin-top: 10px;'>Cargando...</div>
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    <div id="jqxFileUpload">
                                    </div>
                                </td> 
                                <td>
                                    <div style='margin-top: 10px;' id='jqxProgressBar'></div> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Vista Previa</td> 
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="jqxgrid">
                                    </div>
                                </td> 
                            </tr>
                            
                            <tr>
                                <td colspan="2">Observaciones</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    {{ form_widget(form.carObservacion,{'id':'carObservacion','attr':{'readonly':false,'style':'display:block'}}) }}
                                </td>
                               
                            </tr>
                            
                            <tr>
                                <td colspan="2" align="center"><hr>
                                    <input id="guardar" type="button" value="Guardar" />
                                    <a href="{{ path('nlcargas_index',{'carTipo':carTipo}) }}"><input id="cerrar" name="cerrar" type="button" value="Cerrar" /></a>
                                    <input id="submit" type="submit" style="display:none" />
                                </td>
                            </tr>
                        </table>
{#                    </form>#}
                    <input id="facturas" name="facturas" type="text" style="display:none" />
                    {{ form_end(form)}}    
                </div>
            </div>
        </td>
    </tr>
</table>


<script type="text/javascript" language="javascript">    
var facturas = {{facturas|json_encode|raw}};
{#var rolAsignados = {{entity.roles|json_encode|raw}};#}
{#console.debug(rolAsignados);#}
var validado = false;    
var values = {};
        var addInterval = function (id, intervalStep){
            values[id] = {value: 0};
            values[id].interval = setInterval(function (){
                values[id].value++;
                if (values[id].value == 100){
                    clearInterval(values[id].interval);
                }
                $("#" + id).val(values[id].value);
            }, intervalStep);
            {#$("#jqxProgressBar").hide();
            $("#cargando").hide();#}
        }
$(document).ready(function() {
    
    if('{{carTipo}}'=='FACTURAS'){
        $("#jqxgrid").jqxGrid({
            width : 1050,
            autoheight: true,
            filterable: true,
            showfilterrow: true,
            autorowheight:false,
            groupable: false,
            enabletooltips: true,
            pageable: true, 
            pagermode: "default",
            altrows: false,
            sortable: true,
            columnsresize: true,
            autoshowfiltericon: true,
            theme: 'ui-lightness',
            columns: [
                { text: 'Ruc', datafield: 'ruc',filtertype: 'checkedlist', width: 100 },
                { text: 'Nombre', datafield: 'nombre', width: 220,groupable: false},
                { text: 'fecemic',  datafield: 'fecemic', width: 70,groupable: false},
                { text: 'tipnum', datafield: 'tipnum', width: 100,groupable: false },
                { text: 'tipsub', datafield: 'tipsub', width: 100,groupable: false},
                { text: 'descar', datafield: 'descar', width: 150,groupable: false},
                { text: 'valdeb', datafield: 'valdeb', width: 70,groupable: false},
                { text: 'valhab', datafield: 'valhab', width: 70,groupable: false},
                { text: 'valsal', datafield: 'valsal', width: 70,groupable: false},
                { text: 'numdes', datafield: 'numdes', width: 100,groupable: false},
            ]
        });
    }else{
        $("#jqxgrid").jqxGrid({
            width : 1050,
            autoheight: true,
            filterable: true,
            showfilterrow: true,
            autorowheight:false,
            groupable: false,
            enabletooltips: true,
            pageable: true, 
            pagermode: "default",
            altrows: false,
            sortable: true,
            columnsresize: true,
            autoshowfiltericon: true,
            theme: 'ui-lightness',
            columns: [
                { text: 'fecemi', datafield: 'fecemi', width: 70 },
                { text: 'numfac', datafield: 'numfac', width: 100,groupable: false},
                { text: 'codigo',  datafield: 'codigo', width: 90,groupable: false},
                { text: 'cliente', datafield: 'cliente', width: 200,groupable: false },
                { text: 'venta', datafield: 'venta', width: 40,groupable: false},
                { text: 'iva', datafield: 'iva', width: 40,groupable: false},
                { text: 'total', datafield: 'total', width: 40,groupable: false},
                { text: 'rcgo_dscto', datafield: 'rcgo_dscto', width: 50,groupable: false},
                { text: 'saldo', datafield: 'saldo', width: 50,groupable: false},
                { text: 'Prima neta', datafield: 'Prima neta', width: 70,groupable: false},
                { text: '% Comision', datafield: '% Comision', width: 70,groupable: false},
                { text: 'Total comisiones', datafield: 'Total comisiones', width: 100,groupable: false},
                { text: 'Estado', datafield: 'Estado', width: 60,groupable: false},
                { text: 'g2_broker', datafield: 'g2_broker', width: 60,groupable: false},
            ]
        });
    }
    
     $('#jqxFileUpload').jqxFileUpload({ width: 300, fileInputName: 'fileToUpload', accept: '.xls, .xlsx', multipleFilesUpload: false, theme: 'orange',  uploadUrl: '{{asset('upload.php')}}',
         renderFiles: function (fileName) {
                var stopIndex = fileName.indexOf('.');
                var name = fileName.slice(0, stopIndex);
                var extension = fileName.slice(stopIndex);
                var iconUrl = '{{asset('images/xls.png')}}';

        return '<div><img src="' + iconUrl + '" style="dislplay: inline; width: 16px; height: 16px; margin-right: 5px;" /><span>' + name + '<strong>' + extension + '</strong></span></div>';
            }
            });
   $('#jqxFileUpload').jqxFileUpload({ localization: { browseButton: 'Seleccionar Archivo', uploadButton: 'Cargar', cancelButton: 'Cancelar', uploadFileTooltip: 'Cargar', cancelFileTooltip: 'Cancelar' } });
   
   
   $('#jqxFileUpload').on('select', function (event) {
        $('#jqxgrid').jqxGrid('clear');
        $("#guardar").jqxButton({ theme: 'orange', disabled:true });
        $("#jqxProgressBar").hide();
        $("#cargando").hide();
    });
   
   $('#jqxFileUpload').on('uploadStart', function (event) {
        var fileName = event.args.file;
        
    }); 
   $('#jqxFileUpload').on('uploadEnd', function (event) {
       $("#cargando").html('Cargando Archivo...');
       $("#jqxProgressBar").show();
       $("#cargando").show();
       addInterval("jqxProgressBar", 20); 
        
        var args = event.args;
        var fileName = args.file;
        var serverResponce = args.response;
        if(serverResponce == 'OK'){
            if('{{carTipo}}'=='FACTURAS'){
                $.ajax({
                    type: 'POST',
                    url: "{{path('nlcargas_cargar_facturas')}}",
                    data: {fileName: fileName},
                    cache: false,
                    success: function (data) {
                        if(data.length > 0){
                            var source =
                            {
                                localdata: data,
                                datatype: "array",
                                datafields:
                                [
        {#                            { name: 'id', type: 'string' },#}
                                    { name: 'ruc', type: 'string' },
                                    { name: 'nombre', type: 'string' },
                                    { name: 'fecemic', type: 'string' },
                                    { name: 'tipnum', type: 'string' },
                                    { name: 'tipsub', type: 'string' },
                                    { name: 'descar', type: 'string' },
                                    { name: 'valdeb', type: 'string' },
                                    { name: 'valhab', type: 'string' },
                                    { name: 'valsal', type: 'string' },
                                    { name: 'numdes', type: 'string' },
                                ],
                                pagesize: 15
                            };

                            var dataAdapter = new $.jqx.dataAdapter(source);
                            $("#jqxgrid").jqxGrid(
                            {
                                source: dataAdapter,
                            });
                            $("#guardar").jqxButton({ theme: 'orange', disabled:false });
                            
                        }else{
                            $("#jqxProgressBar").hide();
                            $("#cargando").html("Error, verifique la estructura del archivo seleccionado!!!");
                        }    
                    }
                });
            }else{
                $.ajax({
                    type: 'POST',
                    url: "{{path('nlcargas_cargar_comisiones')}}",
                    data: {fileName: fileName},
                    cache: false,
                    success: function (data) {
                        if(data.length > 0){
                            var source =
                            {
                                localdata: data,
                                datatype: "array",
                                datafields:
                                [
        {#                            { name: 'id', type: 'string' },#}
                                    { name: 'fecemi', type: 'string' },
                                    { name: 'numfac', type: 'string' },
                                    { name: 'codigo', type: 'string' },
                                    { name: 'cliente', type: 'string' },
                                    { name: 'venta', type: 'string' },
                                    { name: 'iva', type: 'string' },
                                    { name: 'total', type: 'string' },
                                    { name: 'rcgo_dscto', type: 'string' },
                                    { name: 'saldo', type: 'string' },
                                    { name: 'Prima neta', type: 'string' },
                                    { name: '% Comision', type: 'string' },
                                    { name: 'Total comisiones', type: 'string' },
                                    { name: 'Estado', type: 'string' },
                                    { name: 'g2_broker', type: 'string' },
                                ],
                                pagesize: 15
                            };

                            var dataAdapter = new $.jqx.dataAdapter(source);
                            $("#jqxgrid").jqxGrid(
                            {
                                source: dataAdapter,
                            });
                            $("#jqxgrid").jqxGrid('refresh');
                            $("#guardar").jqxButton({ theme: 'orange', disabled:false });
{#                           calcula los valores#}
                            var rows = $('#jqxgrid').jqxGrid('getdisplayrows');
{#                            console.log(rows);#}
                            for (var i = 0; i < rows.length; i++) {
                                var row = rows[i];
{#                                console.log(row.numfac);#}
                                var fac = row.numfac;
                                fac = fac.substr(0,13);
{#                                console.log(fac);#}
                                facturas.map(function (person) {
                                    
                                    if (person.facTipnum == fac) {
                                        console.log(person.facTipnum +'---'+ fac);
                                        $("#jqxgrid").jqxGrid('setcellvalue', i, "Prima neta", person.facValdeb / 1.12);
                                        $("#jqxgrid").jqxGrid('setcellvalue', i, "% Comision", "15%");
                                        $("#jqxgrid").jqxGrid('setcellvalue', i, "Total comisiones", (person.facValdeb / 1.12) * 0.15);
                                    } 
                                }); 
                            }
{#                            $('#jqxgrid').jqxGrid('refreshdata');#}
                        }else{
                            $("#jqxProgressBar").hide();
                            $("#cargando").html("Error, verifique la estructura del archivo seleccionado!!!");
                        }

                    }
                });
            }
           
        }else{
            $("#jqxProgressBar").hide();
            $("#cargando").html('ERROR, cargando el Archivo, favor intente nuevamente!');
        }
    });
    
    $('#jqxgrid').on('bindingcomplete', function (event) {
        $("#cargando").html('Cargando Información...');
        $("#jqxProgressBar").show();
        $("#cargando").show();
        addInterval("jqxProgressBar", 20); 
    });
    // Create jqxExpander.
            $("#crearUsuario").jqxExpander({  toggleMode: 'none', width: '1100px', showArrow: false, theme: 'ui-lightness',height: '1500px' });
            // Create jqxInput.
            $("#jqxcarfecregistro").jqxDateTimeInput({ width: '230px', height: '20px', formatString: 'yyyy-MM-dd', value: new Date(), theme: 'orange',readonly: true, disabled: true });
            $("#jqxcarfecregistro").val(new Date());
            $("#carTipo").jqxInput({  width: '250px', height: '20px', maxLength: 60, theme: 'orange', disabled:false});
            $("#carTipo").val('{{carTipo}}');
            $('#carObservacion').jqxTextArea({ placeHolder: 'Observaciones...', height: 90, width: 500, maxLength: 590, theme: 'orange' });
            
            
{#            $("#enabled").jqxCheckBox({ theme: 'orange'}); #}
            $("#guardar").jqxButton({ theme: 'orange', disabled:true });
            $("#cerrar").jqxButton({ theme: 'orange' });
            
                        
            // Create jqxValidator.
            $("form").jqxValidator({
                rules: [
{#                        {
                            input: "#usuNombre", message: "Nombre es requerido!", action: 'keyup, blur', rule: function (input, commit) {
                                return input.val() != "" && input.val() != "First";
                            }
                        },
                        { input: '#email', message: 'E-mail es requerido!', action: 'keyup, blur', rule: 'required' },
                        { input: "#username", message: "Usuario es requerido!", action: 'keyup, blur', rule: 'required' }#}

                ]
            });
            // Validate the Form.
            $("#guardar").click(function () {
                validado = true;
                var rows = $('#jqxgrid').jqxGrid('getdisplayrows');
                $("#facturas").val(JSON.stringify(rows));
                $('form').jqxValidator('validate');
                
            });
            
            $('form').on('validationSuccess', function (event) {
                $('#submit').click();
            });
            
            var control="";
            $("form").submit(function( event ) {
                if(control != '' || validado == false){
                    return false;
                }
                control = "submit";
            });
            
{#CREA BARRA DE PROGRESO#}
    var renderText = function (text, value){
        if (value < 55){
            return "<span style='color: #333;'>" + text + "</span>";
        }
        if (value == 100){
            return "<span style='color: #fff;'>Completado</span>";
        }
        return "<span style='color: #fff;'>" + text + "</span>";
    }
    $("#jqxProgressBar").jqxProgressBar({ animationDuration: 0, showText: true, renderText: renderText, template: "info", width: 250, height: 20, value: 0 });
    $("#jqxProgressBar").hide();
    $("#cargando").hide();
    
           
});

</script>
{% else%}
    <h2>NO TIENE PERMISOS DE ACCESO </h2>
{% endif %}    
    
{% endblock %}
    