{% extends 'base.html.twig' %}

{% block body %}
    <h1>Onproductividad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ onProductividad.id }}</td>
            </tr>
            <tr>
                <th>Siteid</th>
                <td>{{ onProductividad.siteid }}</td>
            </tr>
            <tr>
                <th>Subsiteid</th>
                <td>{{ onProductividad.subsiteid }}</td>
            </tr>
            <tr>
                <th>I3user</th>
                <td>{{ onProductividad.i3user }}</td>
            </tr>
            <tr>
                <th>Queue</th>
                <td>{{ onProductividad.queue }}</td>
            </tr>
            <tr>
                <th>Totenteredacd</th>
                <td>{{ onProductividad.totEnteredACD }}</td>
            </tr>
            <tr>
                <th>Totnanswered</th>
                <td>{{ onProductividad.totnAnswered }}</td>
            </tr>
            <tr>
                <th>Totnansweredacd</th>
                <td>{{ onProductividad.totnAnsweredACD }}</td>
            </tr>
            <tr>
                <th>Totnabandonedacd</th>
                <td>{{ onProductividad.totnAbandonedACD }}</td>
            </tr>
            <tr>
                <th>Totnflowoutacd</th>
                <td>{{ onProductividad.totnFlowOutAcd }}</td>
            </tr>
            <tr>
                <th>Totntransferedacd</th>
                <td>{{ onProductividad.totnTransferedACD }}</td>
            </tr>
            <tr>
                <th>Totninttointacd</th>
                <td>{{ onProductividad.totnIntToIntACD }}</td>
            </tr>
            <tr>
                <th>Totnexttoint</th>
                <td>{{ onProductividad.totnExtToInt }}</td>
            </tr>
            <tr>
                <th>Totninttoext</th>
                <td>{{ onProductividad.totnIntToExt }}</td>
            </tr>
            <tr>
                <th>Totttalkacd</th>
                <td>{{ onProductividad.totTTalkACD }}</td>
            </tr>
            <tr>
                <th>Tottacw</th>
                <td>{{ onProductividad.totTACW }}</td>
            </tr>
            <tr>
                <th>Tottholdacd</th>
                <td>{{ onProductividad.totTHoldACD }}</td>
            </tr>
            <tr>
                <th>Tottagentloggedin</th>
                <td>{{ onProductividad.totTAgentLoggedin }}</td>
            </tr>
            <tr>
                <th>Tottagentloggedin2</th>
                <td>{{ onProductividad.totTAgentLoggedin2 }}</td>
            </tr>
            <tr>
                <th>Tottagentavailable</th>
                <td>{{ onProductividad.totTAgentAvailable }}</td>
            </tr>
            <tr>
                <th>Tottagentacdloggedin</th>
                <td>{{ onProductividad.totTAgentACDLoggedIn }}</td>
            </tr>
            <tr>
                <th>Totnexttointnonacd</th>
                <td>{{ onProductividad.totnExttoIntNONACD }}</td>
            </tr>
            <tr>
                <th>Totninttoextnonacd</th>
                <td>{{ onProductividad.totnInttoExtNONACD }}</td>
            </tr>
            <tr>
                <th>Tottexttointnonacd</th>
                <td>{{ onProductividad.totTExttoIntNONACD }}</td>
            </tr>
            <tr>
                <th>Tottinttoextnonacd</th>
                <td>{{ onProductividad.totTInttoExtNONACD }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ onProductividad.Active }}</td>
            </tr>
            <tr>
                <th>Isprivate</th>
                <td>{{ onProductividad.IsPrivate }}</td>
            </tr>
            <tr>
                <th>Indivtypeid</th>
                <td>{{ onProductividad.IndivTypeID }}</td>
            </tr>
            <tr>
                <th>Titleid</th>
                <td>{{ onProductividad.TitleID }}</td>
            </tr>
            <tr>
                <th>Individ</th>
                <td>{{ onProductividad.IndivID }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ onProductividad.LastName }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ onProductividad.FirstName }}</td>
            </tr>
            <tr>
                <th>Middlename</th>
                <td>{{ onProductividad.MiddleName }}</td>
            </tr>
            <tr>
                <th>Displayusername</th>
                <td>{{ onProductividad.DisplayUserName }}</td>
            </tr>
            <tr>
                <th>Jobtitle</th>
                <td>{{ onProductividad.JobTitle }}</td>
            </tr>
            <tr>
                <th>Icuserid</th>
                <td>{{ onProductividad.ICUserID }}</td>
            </tr>
            <tr>
                <th>Extid</th>
                <td>{{ onProductividad.ExtID }}</td>
            </tr>
            <tr>
                <th>Extsource</th>
                <td>{{ onProductividad.ExtSource }}</td>
            </tr>
            <tr>
                <th>Rank</th>
                <td>{{ onProductividad.rank }}</td>
            </tr>
            <tr>
                <th>Proobservaciones</th>
                <td>{{ onProductividad.proObservaciones }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('onproductividad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('onproductividad_edit', { 'id': onProductividad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
