{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="{{asset('npstyle.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.base.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.light.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.ui-redmond.css')}}" rel="stylesheet" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
    <meta name="description" content="In this example dashboard is set as the Custom Element Chart" />

    <script type="text/javascript" src="{{asset('jqx/scripts/jquery-1.11.1.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/scripts/webcomponents-lite.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/scripts/demos.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcore.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcore.elements.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdraw.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxchart.core.js')}}"></script>


    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxbuttons.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxnotification.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxmenu.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdata.js')}}"></script>

    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdraw.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxchart.core.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxslider.js')}}"></script>

    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxmenu.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.pager.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.sort.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.filter.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcalendar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdatetimeinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxscrollbar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxlistbox.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdropdownlist.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.columnsresize.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.grouping.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.selection.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.edit.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdata.export.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.export.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxpanel.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcheckbox.js')}}"></script>
    {#            <script type="text/javascript" src="{{asset('jqx/jqwidgets/i18n/es.js')}}"></script>#}
    <style type="text/css">
        .chart-inner-text {
            fill: #00BAFF;
            color: #00BAFF;
            font-size: 30px;
            font-family: Verdana;
        }    
    </style>
{% endblock %}
{% block body -%}
    {% set acceso = false %}
    {% if app.user %}
        {% for rol in app.user.roles %}
            {% if rol == 'ADMINISTRADOR'%}
                {% set acceso = true %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if app.user and acceso == true %}
        <table align='center' cellpadding="0" cellspacing="0">
            <tr>
                <td width="30%" align="center" style="padding-left: 10px; padding-right: 20px">
                    <div id='jqxWidget' >
                        <h2-1>Listado de Periodos</h2-1>
                        <br>
                        <div id="jqxgrid">
                        </div>
                    </div>
                </td>
            </tr>

            <tr>

                <td colspan="3" align="center">
                    <h2-1>DashBoard</h2-1>
                    <div id="chartContainer5" style="width: 1000px; height: 500px;"></div>
                    <div id="chartContainer6" style="width: 1000px; height: 500px;"></div>
                    <div id="chartContainer7" style="width: 1000px; height: 500px;"></div>
                    <div id="chartContainer8" style="width: 1000px; height: 500px;"></div>
                    <div id="chartContainer9" style="width: 1000px; height: 500px;"></div>
                    <div id="chartContainer10" style="width: 1000px; height: 500px;"><hr></div>
                </td>
            </tr>
        </table>

        
        <script>
            var onPeriodos = {{onPeriodos|json_encode|raw}};

            var source =
                {
                    localdata: onPeriodos,
                    datatype: "array",
                    datafields:
                        [
                            { name: 'id', type: 'string' },
                            { name: 'perNombre', type: 'string' },
                            { name: 'perFecha',map:'perFecha>date', type: 'date' },
                            { name: 'perEstPro', type: 'string' },
                            { name: 'perEstTie', type: 'string' },
                            { name: 'perEstado', type: 'string' },
                            { name: 'perObservacion', type: 'string' },
                            { name: 'camNombre', type: 'string' }
                        ],
                    pagesize: 10
                };

            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#jqxgrid").jqxGrid(
                {
                    width : 600,
                    autoheight: true,
                    source: dataAdapter,
                    filterable: true,
                    showfilterrow: true,
                    autorowheight:true,
                    enabletooltips: true,
                    pageable: true,
                    pagermode: "default",
                    editable: false,
                    sortable: true,
                    columnsresize: false,
                    autoshowfiltericon: true,
                    selectionmode: 'singlerow',
                    theme: 'ui-redmond',
                    columns: [
                        { text: 'Nombre', datafield: 'perNombre', width: 100},
                        { text: 'Campaña', datafield: 'camNombre', width: 100},
                        { text: 'Fecha', datafield: 'perFecha', width: 100,filtertype: 'date',columntype: 'datetimeinput', cellsformat: 'yyyy-MM-dd'},
                        //{ text: 'Carga de Productividad', datafield: 'perEstPro', width: 100,groupable: false},
                        //{ text: 'Carga de Tiempos', datafield: 'perEstTie', width: 100,groupable: false},
                        { text: 'Estado Periodo', datafield: 'perEstado', width: 100},
                        { text: 'Observaciones', datafield: 'perObservacion', width: 200},
                        //{ text: 'Opciones', datafield: 'id', width: 100,sortable: false, filterable: false,groupable: false, cellsrenderer: opcUsers },
                    ]
                });

            {#        $("#jqxgrid").jqxGrid('localizestrings', localizationobj);   #}


            $("span:contains('www.jqwidgets.com')").hide();


            //----------------------------------------------------------------------------------------------------


            $('#jqxgrid').on('rowselect', function (event)
            {
                // event arguments.
                var args = event.args;
                // row's bound index.
                var rowBoundIndex = args.rowindex;
                // row's data. The row's data object or null(when all rows are being selected or unselected with a single action). If you have a datafield called "firstName", to access the row's firstName, use var firstName = rowData.firstName;
                var rowData = args.row;
                $.ajax({
                    type: 'POST',
                    url: "{{path('oncuadromo_dashboard')}}",
                    data: { perId: rowData.id },
                    cache: false,
                    success: function (data) {
                        for(var i=0;i<data[0].length;i++){
                            data[0][i]['S'] = parseInt(data[0][i]['S'] / 60);
                        }
                        for(var i=0;i<data[1].length;i++){
                            data[1][i]['F'] = parseInt(data[1][i]['F'] - 50);
                        }
                        for(var i=0;i<data[2].length;i++){
                            data[2][i]['E'] = parseInt(data[2][i]['E'] - 60);
                        }
////////////////////////  1/////////////////////
                        var displayServerResponseMetrics = function (data) {

                            var settings = {
                                title: 'MAXIMO Y MINIMO DE HORAS ACD (POR PERIODO Y OPERADOR)',
                                description: '',
                                enableAnimations: true,
                                showLegend: true,
                                showBorderLine: true,
                                backgroundColor: '#FAFAFA',
                                padding: { left: 5, top: 5, right: 5, bottom: 5 },
                                titlePadding: { left: 5, top: 5, right: 5, bottom: 5 },
                                source: data[0],
                                xAxis:
                                    {
                                        dataField: 'H',
                                        displayText: 'Usuario:',
                                    },
                                seriesGroups:
                                    [
                                        {
                                            type: 'column',
                                            toolTipFormatSettings: { sufix: ' m'},
                                            series:
                                                [
                                                    {
                                                        dataField: 'S',
                                                        displayText: 'Tiempo[m]:'
                                                    }
                                                ],

                                        },
                                        {

                                            type: 'spline',
                                            toolTipFormatSettings: { sufix: ' m'},
                                            series: [
                                                { dataField: 'S', displayText: 'Tiempo Max [m]', opacity: 1, lineWidth: 2 }
                                            ]
                                        }
                                    ]
                            };
                            $('#chartContainer5').jqxChart(settings);
                            $('#chartContainer5').jqxChart('update');

                            /////////2/////

                            var settings = {
                                title: "PORCENTAJE DE OCUPACION (POR PERIODO Y OPERADOR)",
                                borderLineWidth: 1,
                                showBorderLine: true,
                                enableAnimations: true,
                                description: '(Punto de Equilibrio 50%)',
                                showLegend: false,
                                //padding: { left: 5, top: 5, right: 10, bottom: 5 },
                                //titlePadding: { left: 0, top: 0, right: 0, bottom: 10 },
                                source: data[1],
                                xAxis:
                                    {
                                        //description: 'Year and quarter',
                                        dataField: 'H',
                                        unitInterval: 1,
                                        textRotationAngle: -75,
                                        formatFunction: function (value, itemIndex, serie, group) {
                                            return value;
                                        },
                                        valuesOnTicks: false
                                    },
                                colorScheme: 'scheme05',
                                seriesGroups:
                                    [
                                        {
                                            type: 'column',
                                            valueAxis:
                                                {
                                                    description: 'Porcentaje Ocupación',
                                                    formatFunction: function (value) {
                                                        return value + '%';
                                                    },
                                                    maxValue: 50,
                                                    minValue: -50,
                                                    unitInterval: 10
                                                },
                                            series:
                                                [
                                                    {
                                                        dataField: 'F',
                                                        displayText: 'Change',
                                                        toolTipFormatFunction: function(value, itemIndex, serie, group, categoryValue, categoryAxis) {
                                                            return '<DIV style="text-align:left";><b>Year-Quarter: </b>' + categoryValue
                                                                + '<br /><b>%:</b> ' + value + ' %</DIV>'
                                                        },
                                                        // Modify this function to return the desired colors.
                                                        // jqxChart will call the function for each data point.
                                                        // Sequential points that have the same color will be
                                                        // grouped automatically in a line segment
                                                        colorFunction: function (value, itemIndex, serie, group) {
                                                            return (value < 0) ? '#CC1133' : '#55CC55';
                                                        }
                                                    }
                                                ]
                                        }
                                    ]
                            };
                            $('#chartContainer6').jqxChart(settings);
                            $('#chartContainer6').jqxChart('update');

                            /////////3/////

                            var settings = {
                                title: 'CUADRO DE COMPARACION TCP (POR PERIODO Y OPERADOR)',
                                borderLineWidth: 1,
                                showBorderLine: true,
                                enableAnimations: true,
                                description: '(Punto de Equilibrio 1 minuto)',
                                showLegend: false,
                                //padding: { left: 5, top: 5, right: 10, bottom: 5 },
                                //titlePadding: { left: 0, top: 0, right: 0, bottom: 10 },
                                source: data[2],
                                xAxis:
                                    {
                                        //description: 'Year and quarter',
                                        dataField: 'H',
                                        unitInterval: 1,
                                        textRotationAngle: -75,
                                        formatFunction: function (value, itemIndex, serie, group) {
                                            return value;
                                        },
                                        valuesOnTicks: false
                                    },
                                colorScheme: 'scheme05',
                                seriesGroups:
                                    [
                                        {
                                            type: 'column',
                                            valueAxis:
                                                {
                                                    description: 'TCP',
                                                    formatFunction: function (value) {
                                                        return value + 's';
                                                    },
                                                    maxValue: 60,
                                                    minValue: -60,
                                                    unitInterval: 5
                                                },
                                            series:
                                                [
                                                    {
                                                        dataField: 'E',
                                                        displayText: 'Change',
                                                        toolTipFormatFunction: function(value, itemIndex, serie, group, categoryValue, categoryAxis) {
                                                            return '<DIV style="text-align:left";><b>Year-Quarter: </b>' + categoryValue
                                                                + '<br /><b>s:</b> ' + value + ' %</DIV>'
                                                        },
                                                        // Modify this function to return the desired colors.
                                                        // jqxChart will call the function for each data point.
                                                        // Sequential points that have the same color will be
                                                        // grouped automatically in a line segment
                                                        colorFunction: function (value, itemIndex, serie, group) {
                                                            return (value < 0) ? '#CC1133' : '#55CC55';
                                                        }
                                                    }
                                                ]
                                        }
                                    ]
                            };
                            $('#chartContainer7').jqxChart(settings);
                            $('#chartContainer7').jqxChart('update');
                            /////////4/////
                            var settings = {
                                title: 'RELACION DE COLUMNA HORAS ACD GENERADAS VS HORAS ACD AUTORIZADAS (POR PERIODO Y OPERADOR)',
                                borderLineWidth: 1,
                                showBorderLine: true,
                                enableAnimations: true,
                                description: '',
                                showLegend: false,
                                //padding: { left: 5, top: 5, right: 10, bottom: 5 },
                                //titlePadding: { left: 0, top: 0, right: 0, bottom: 10 },
                                source: data[3],
                                xAxis:
                                    {
                                        //description: 'Year and quarter',
                                        dataField: 'H',
                                        unitInterval: 1,
                                        textRotationAngle: -75,
                                        formatFunction: function (value, itemIndex, serie, group) {
                                            return value;
                                        },
                                        valuesOnTicks: false
                                    },
                                colorScheme: 'scheme05',
                                seriesGroups:
                                    [
                                        {
                                            type: 'column',
                                            valueAxis:
                                                {
                                                    description: 'TCP',
                                                    formatFunction: function (value) {
                                                        return value + 's';
                                                    }
                                                },
                                            series:
                                                [
                                                    {
                                                        dataField: 'S',
                                                        displayText: 'Change',
                                                        toolTipFormatFunction: function(value, itemIndex, serie, group, categoryValue, categoryAxis) {
                                                            return '<DIV style="text-align:left";><b>Year-Quarter: </b>' + categoryValue
                                                                + '<br /><b>s:</b> ' + value + ' %</DIV>'
                                                        },

                                                        colorFunction: function (value, itemIndex, serie, group) {
                                                            return '#CC1133' ;
                                                        }
                                                    },
                                                    {
                                                        dataField: 'N',
                                                        displayText: 'Change',
                                                        toolTipFormatFunction: function(value, itemIndex, serie, group, categoryValue, categoryAxis) {
                                                            return '<DIV style="text-align:left";><b>Year-Quarter: </b>' + categoryValue
                                                                + '<br /><b>s:</b> ' + value + ' %</DIV>'
                                                        },

                                                        colorFunction: function (value, itemIndex, serie, group) {
                                                            return '#55CC55' ;
                                                        }
                                                    }
                                                ]
                                        }
                                    ]
                            };
                            $('#chartContainer8').jqxChart(settings);
                            $('#chartContainer8').jqxChart('update');
                            /////////5/////

                            var settings = {
                                title: 'RELACION OPERADOR TOTAL DE LLAMADAS (POR PERIODO Y OPERADOR)',
                                description: '',
                                borderLineWidth: 1,
                                showBorderLine: true,
                                enableAnimations: true,
                                description: '',
                                showLegend: false,
                                //padding: { left: 5, top: 5, right: 10, bottom: 5 },
                                //titlePadding: { left: 0, top: 0, right: 0, bottom: 10 },
                                source: data[4],
                                xAxis:
                                    {
                                        //description: 'Year and quarter',
                                        dataField: 'D',
                                        unitInterval: 1,
                                        textRotationAngle: -75,
                                        formatFunction: function (value, itemIndex, serie, group) {
                                            return value;
                                        },
                                        valuesOnTicks: false
                                    },
                                colorScheme: 'scheme05',
                                seriesGroups:
                                    [
                                        {
                                            type: 'column',
                                            valueAxis:
                                                {
                                                    description: '',
                                                    formatFunction: function (value) {
                                                        return value + 'u';
                                                    }
                                                },
                                            series:
                                                [
                                                    {
                                                        dataField: 'G',
                                                        displayText: 'Manual',
                                                        toolTipFormatFunction: function(value, itemIndex, serie, group, categoryValue, categoryAxis) {
                                                            return '<DIV style="text-align:left";><b>Year-Quarter: </b>' + categoryValue
                                                                + '<br /><b>Manual:</b> ' + value + ' </DIV>'
                                                        },

                                                        colorFunction: function (value, itemIndex, serie, group) {
                                                            return 'blue' ;
                                                        }
                                                    },
                                                    {
                                                        dataField: 'H',
                                                        displayText: 'IVR',
                                                        toolTipFormatFunction: function(value, itemIndex, serie, group, categoryValue, categoryAxis) {
                                                            return '<DIV style="text-align:left";><b>Year-Quarter: </b>' + categoryValue
                                                                + '<br /><b>IVR:</b> ' + value + ' </DIV>'
                                                        },

                                                        colorFunction: function (value, itemIndex, serie, group) {
                                                            return 'green' ;
                                                        }
                                                    }
                                                ]
                                        }
                                    ]
                            };
                            $('#chartContainer9').jqxChart(settings);

                            $('#chartContainer9').jqxChart('update');
                        };
                        displayServerResponseMetrics(data);
                        $("text:contains('www.jqwidgets.com')").hide();

                        if(data.length > 0){

                        }else{

                        }
                    }
                });
            });
            $('#jqxgrid').jqxGrid('selectrow', 0);
    </script>
        
    {% else%}
        <table id="principal" width ="100%" align="center" style="background-color: #626262" >

            <tr>
                <td align="center">
                    <h2>NO TIENE PERMISOS DE ACCESO </h2>
                </td>
            </tr>
        </table>
    {% endif %}

{% endblock %}