{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oncuadromo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ onCuadromo.id }}</td>
            </tr>
            <tr>
                <th>A</th>
                <td>{% if onCuadromo.a %}{{ onCuadromo.a|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>B</th>
                <td>{{ onCuadromo.b }}</td>
            </tr>
            <tr>
                <th>C</th>
                <td>{{ onCuadromo.c }}</td>
            </tr>
            <tr>
                <th>D</th>
                <td>{{ onCuadromo.d }}</td>
            </tr>
            <tr>
                <th>E</th>
                <td>{{ onCuadromo.e }}</td>
            </tr>
            <tr>
                <th>F</th>
                <td>{{ onCuadromo.f }}</td>
            </tr>
            <tr>
                <th>G</th>
                <td>{{ onCuadromo.g }}</td>
            </tr>
            <tr>
                <th>H</th>
                <td>{{ onCuadromo.h }}</td>
            </tr>
            <tr>
                <th>I</th>
                <td>{{ onCuadromo.i }}</td>
            </tr>
            <tr>
                <th>J</th>
                <td>{{ onCuadromo.j }}</td>
            </tr>
            <tr>
                <th>K</th>
                <td>{{ onCuadromo.k }}</td>
            </tr>
            <tr>
                <th>L</th>
                <td>{{ onCuadromo.l }}</td>
            </tr>
            <tr>
                <th>M</th>
                <td>{{ onCuadromo.m }}</td>
            </tr>
            <tr>
                <th>N</th>
                <td>{{ onCuadromo.n }}</td>
            </tr>
            <tr>
                <th>O</th>
                <td>{{ onCuadromo.o }}</td>
            </tr>
            <tr>
                <th>P</th>
                <td>{{ onCuadromo.p }}</td>
            </tr>
            <tr>
                <th>Q</th>
                <td>{{ onCuadromo.q }}</td>
            </tr>
            <tr>
                <th>R</th>
                <td>{{ onCuadromo.r }}</td>
            </tr>
            <tr>
                <th>S</th>
                <td>{{ onCuadromo.s }}</td>
            </tr>
            <tr>
                <th>T</th>
                <td>{{ onCuadromo.t }}</td>
            </tr>
            <tr>
                <th>U</th>
                <td>{{ onCuadromo.u }}</td>
            </tr>
            <tr>
                <th>V</th>
                <td>{{ onCuadromo.v }}</td>
            </tr>
            <tr>
                <th>W</th>
                <td>{{ onCuadromo.w }}</td>
            </tr>
            <tr>
                <th>X</th>
                <td>{{ onCuadromo.x }}</td>
            </tr>
            <tr>
                <th>Y</th>
                <td>{{ onCuadromo.y }}</td>
            </tr>
            <tr>
                <th>Z</th>
                <td>{{ onCuadromo.z }}</td>
            </tr>
            <tr>
                <th>Aa</th>
                <td>{{ onCuadromo.aa }}</td>
            </tr>
            <tr>
                <th>Ab</th>
                <td>{{ onCuadromo.ab }}</td>
            </tr>
            <tr>
                <th>Ac</th>
                <td>{{ onCuadromo.ac }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('oncuadromo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('oncuadromo_edit', { 'id': onCuadromo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
