{#{% extends '::base.html.twig' %}#}
{% block stylesheets %}
    <link href="{{asset('npstyle.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.base.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.orange.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.light.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.ui-smoothness.css')}}" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="{{asset('jqx/scripts/jquery-1.11.1.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcore.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxmenu.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxpasswordinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdatetimeinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdata.js')}}"></script> 
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcalendar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxtooltip.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/globalization/globalize.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxbuttons.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxscrollbar.js')}}"></script>
{#    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxtextarea.js')}}"></script>#}
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcheckbox.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxlistbox.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdragdrop.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdropdownlist.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxexpander.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxvalidator.js')}}"></script>
    
{% endblock %}
{% block body -%}

{% if app.user %}
<table width ="100%" height="100%" align="center" valign="top" style="background-color: #626262">
    <tr>
        <td align="center" valign="top">
            <br>
            <br>
            <div id="crearUsuario" style="font-family: Verdana; font-size: 13px;">
                <div>
                     Cambiar Clave de Acceso
                </div>
                <div style="font-family: Verdana; font-size: 13px;">
{#                    {{ form_start(form) }}#}
{#                    {{ form_errors(form) }}#}
                    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
{#                         {{ form_errors(form) }}#}
                        <table>
                            <tr>
                                <td colspan="2"><br><br><h1>Clave Anterior</h1></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    {{ form_row(form.current_password,{'id':'current_password','attr':{'readonly':false}}) }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><br><h1>Nueva Clave</h1></td>
                            </tr>
                            <tr>
                                <td colspan="2">

{#                                    <label for="fos_user_change_password_form_new_second">Male</label>#}
                                    {{form_row(form.new.first)}}
                                </td>
                               
                            </tr>
                            <tr>
                                <td colspan="2"><br><h1>Confirmar Nueva Clave</h1></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    {{form_row(form.new.second)}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><hr><br></td>
                            </tr>
                            <tr>
                                <td colspan="1" align="center">
                                    <input id="submit" type="submit" value="Confirmar" style="display:block" />
{#                                    {{ form_row(form.submit, { 'label': 'Confirmar' }) }}#}
                                </td>
                                <td>
                                    <a href="{{ path('homepage') }}"><input id="cancelar" type="button" value="Cancelar" /></a>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>


<script type="text/javascript" language="javascript">    
{#var users = {{users|json_encode|raw}};#}
{#var rolAsignados = {{entity.roles|json_encode|raw}};#}
{#console.debug(rolAsignados);#}
$(document).ready(function() {
    $("label").html('');
    // Create jqxExpander.
            $("#crearUsuario").jqxExpander({  toggleMode: 'none', width: '400px', showArrow: false, theme: 'light' });
            // Create jqxInput.
            $("#current_password").jqxInput({  width: '250px', height: '20px', maxLength: 250, theme: 'light'});
            $('#fos_user_change_password_form_new_first').jqxInput({  width: '250px', height: '20px', maxLength: 250, theme: 'light'});
            $("#fos_user_change_password_form_new_second").jqxInput({  width: '250px', height: '20px', maxLength: 20, theme: 'light' });
            
            $("#submit").jqxButton({ theme: 'light' });
            $("#cancelar").jqxButton({ theme: 'light' });
            
            
            // Create jqxValidator.
            {#$("form").jqxValidator({
                rules: [
                        {
                            input: "#usuNombre", message: "Nombre es requerido!", action: 'keyup, blur', rule: function (input, commit) {
                                return input.val() != "" && input.val() != "First";
                            }
                        },
                        { input: '#email', message: 'E-mail es requerido!', action: 'keyup, blur', rule: 'required' },
                        { input: "#username", message: "Usuario es requerido!", action: 'keyup, blur', rule: 'required' }

                ]
            });#}
            // Validate the Form.
            {#$("#valida").click(function () {
                
                $('form').jqxValidator('validate');
            });#}
            
            {#$('form').on('validationSuccess', function (event) {
                $('#submit').click();
            });#}
            
            var control="";
            $("form").submit(function( event ) {
                if(control != ''){
                    return false;
                }
             
                control = "submit";
            });

           
});

</script>
{% else%}
    <h2>NO TIENE PERMISOS DE ACCESO </h2>
{% endif %}    
    
{% endblock %}
    



    {#{{ form_widget(form) }}
    <div>
        
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>#}
