{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="{{asset('npstyle.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.base.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.light.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.ui-redmond.css')}}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{asset('jqx/scripts/jquery-1.11.1.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcore.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxbuttons.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxnotification.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxmenu.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdata.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxmenu.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.pager.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.sort.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.filter.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcalendar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdatetimeinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxscrollbar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxlistbox.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdropdownlist.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.columnsresize.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.grouping.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.selection.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdata.export.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.export.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxpanel.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcheckbox.js')}}"></script>
    {#            <script type="text/javascript" src="{{asset('jqx/jqwidgets/i18n/es.js')}}"></script>#}
{% endblock %}
{% block body -%}
    {% set acceso = false %}
    {% if app.user %}
        {% for rol in app.user.roles %}
            {% if rol == 'ADMINISTRADOR'%}
                {% set acceso = true %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if app.user and acceso == true %}

        <table id="principal" width ="100%" height="100%" align="center" valign="top" style="background-color: #626262" >

            <tr>
                <td align="center" valign="top" >
                    <div id='jqxWidget' >
                        <h31>Listado de Personal</h31>
                        {#                    <hr>#}
                        <br>
                        <br>
                        {#                    <input id="importar" name="importar" type="button" value="Importar Nuevos Usuarios" />#}
                        <br>
                        <br>
                        <div id="jqxgrid">
                        </div>
                    </div>
                    <br>
                    <div>
                        <a href="{{ path('user_new') }}" style="text-decoration:none; color: #ffffff ">
                            <input type="button" value="Nuevo Personal" id='crear' />
                        </a>
                        {#                <input type="button" value="Exportar a Excel" id='excelExport' />#}
                        {#                    <input type="button" value="Exportar a PDF" id='pdfExport' />#}
                    </div>
                </td>
            </tr>

        </table>

        <script language="javascript" type="text/javascript">

            var users = {{users|json_encode|raw}};

            var opcUsers = function (index, datafield, value, defaultvalue, column, rowdata) {
                route = '<div style="text-align: center; position: relative; top: 50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%);">\n\
                    <a href="{{ path('user_edit', { 'id': 'id_remp1' }) }}" style="text-decoration:none; color: #ffffff "><h5-2>Editar<h5-2></a>';
                {#            route = route.replace("id_remp1", value);#}
                return route.replace("id_remp1", value);
            }

            {#    var initGrid = function () {#}
            var source =
                {
                    localdata: users,
                    datatype: "array",
                    datafields:
                        [
                            { name: 'id', type: 'string' },
                            { name: 'username', type: 'string' },
                            { name: 'usuLider', type: 'string' },
                            { name: 'usuNomape', type: 'string' },
                            { name: 'usuNombres', type: 'string' },
                            { name: 'usuApellidos', type: 'string' },
                            { name: 'usuApenom', type: 'string' },
                            { name: 'usuCola', type: 'string' },
                        ],
                    pagesize: 10
                };

            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#jqxgrid").jqxGrid(
                {
                    width : 1280,
                    autoheight: true,
                    source: dataAdapter,
                    filterable: true,
                    showfilterrow: true,
                    autorowheight:true,
                    groupable: false,
                    enabletooltips: true,
                    pageable: false,
                    pagermode: "default",
                    altrows: false,
                    sortable: true,
                    columnsresize: false,
                    autoshowfiltericon: true,
                    theme: 'ui-redmond',
                    columns: [
                        { text: 'Usuario', datafield: 'username', width: 200,groupable: false},
                        { text: 'Lider', datafield: 'usuLider', width: 200,groupable: false},
                        { text: 'Nombres Apellidos', datafield: 'usuNomape', width: 200,groupable: false},
                        { text: 'Nombres', datafield: 'usuNombres', width: 200,groupable: false},
                        { text: 'Apellidos',  datafield: 'usuApellidos', width: 200,groupable: false},
                        { text: 'Apellidos Nombres', datafield: 'usuApenom', width: 200,groupable: false},
                        { text: 'Opciones', datafield: 'id', width: 80,sortable: false, filterable: false,groupable: false, cellsrenderer: opcUsers },
                    ]
                });

            {#        $("#jqxgrid").jqxGrid('localizestrings', localizationobj);   #}

            $("span:contains('www.jqwidgets.com')").hide();
            $("#crear").jqxButton({ theme: "light" });
            {#        $("#pdfExport").jqxButton({ theme: "orange" });#}
            {#$("#pdfExport").click(function () {
                $("#jqxgrid").jqxGrid('exportdata', 'pdf', 'jqxGrid');
            });#}

        </script>
    {% else%}
        <table id="principal" width ="100%" align="center" style="background-color: #626262" >

            <tr>
                <td align="center">
                    <h2>NO TIENE PERMISOS DE ACCESO </h2>
                </td>
            </tr>
        </table>
    {% endif %}

{% endblock %}