{% block stylesheets %}
    <link href="{{asset('npstyle.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.base.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.light.css')}}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{{asset('jqx/scripts/jquery-1.11.1.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcore.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxmenu.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxpasswordinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxnumberinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdatetimeinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdata.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcalendar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxtooltip.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/globalization/globalize.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxbuttons.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxscrollbar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxtextarea.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcheckbox.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxlistbox.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdragdrop.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdropdownlist.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxexpander.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxvalidator.js')}}"></script>

{% endblock %}
{% block body -%}
    {% set acceso = false %}
    {% if app.user %}
        {% for rol in app.user.roles %}
            {% if rol == 'ADMINISTRADOR'%}
                {% set acceso = true %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if app.user and acceso == true %}
        <table width ="100%" height="100%" align="center" valign="top" style="background-color: #626262">
            <tr>
                <td align="center" valign="top">
                    <div id="crearUsuario" style="font-family: Verdana; font-size: 13px;">
                        <div>
                            Nuevo Personal
                        </div>
                        <div style="font-family: Verdana; font-size: 13px;">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            {#                    <form id="form" style="overflow: hidden; margin: 10px;" action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>#}
                            <table>
                                <tr>
                                    <td>Lider</td>
                                    <td>Nombres Apellidos</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_widget(form.usuLider,{'id':'usuLider','attr':{'readonly':false}}) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.usuNomape,{'id':'usuNomape','attr':{'readonly':false}}) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nombres</td>
                                    <td>Apellidos</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_widget(form.usuNombres,{'id':'usuNombres','attr':{'readonly':false}}) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.usuApellidos,{'id':'usuApellidos','attr':{'readonly':false}}) }}
                                    </td>
                                </tr>

                                <tr>
                                    <td>Apellidos Nombres</td>
                                    <td>Cola</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_widget(form.usuApenom,{'id':'usuApenom','attr':{'readonly':false}}) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.usuCola,{'id':'usuCola','attr':{'readonly':false}}) }}
                                    </td>
                                </tr>

                                <tr>
                                    <td >Usuario</td>
                                    <td >E-Mail</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_widget(form.username,{'id':'username','autocomplete':'off','attr':{'readonly':false}}) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.email,{'id':'email','attr':{'readonly':false}}) }}
                                    </td>

                                </tr>

                                <tr>
                                    <td align="center" >Activo?
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        {{ form_widget(form.enabled,{'id':'enabled','required':false,'attr':{'checked':'checked'}})}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        Clave
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        {{ form_widget(form.password,{'id':'password','type':'password','attr':{'style':'display:block'}}) }}
                                        {#                                    <input id="password" type="password" />#}
                                    </td>
                                </tr>



                                <tr>
                                    <td colspan="2" align="center"><hr>
                                        <input id="valida" type="button" value="Guardar" />
                                        <a href="{{ path('user_index') }}"><input id="cerrar" type="button" value="Cerrar" /></a>
                                        <input id="submit" type="submit" style="display:none" />
                                    </td>
                                </tr>
                            </table>
                            {#                    </form>#}
                            <input id="roles" name="roles" type="text" style="display:none" />
                            {{ form_end(form)}}
                        </div>
                    </div>
                </td>
            </tr>
        </table>


        <script type="text/javascript" language="javascript">
            var users = {{users|json_encode|raw}};
            {#var rolAsignados = {{entity.roles|json_encode|raw}};#}
                // Create jqxExpander.
                $("#crearUsuario").jqxExpander({  toggleMode: 'none', width: '700px', showArrow: false, theme: 'ui-lightness' });
                // Create jqxInput.
                $("#usuLider").jqxInput({  width: '250px', height: '20px', maxLength: 250, theme: 'light'});
                $("#usuNomape").jqxInput({  width: '250px', height: '20px', maxLength: 250, theme: 'light'});
                $("#usuNombres").jqxInput({  width: '250px', height: '20px', maxLength: 250, theme: 'light'});
                $("#usuApellidos").jqxInput({  width: '250px', height: '20px', maxLength: 250, theme: 'light'});
                $("#usuApenom").jqxInput({  width: '250px', height: '20px', maxLength: 250, theme: 'light'});
                $("#usuCola").jqxInput({  width: '250px', height: '20px', maxLength: 250, theme: 'light'});
                $("#username").jqxInput({  width: '250px', height: '20px', maxLength: 20, theme: 'light' });
                $("#username").val('');
                $("#email").jqxInput({  width: '250px', height: '20px', maxLength: 1000, theme: 'light' });
                {#            $("#enabled").jqxCheckBox({ theme: 'orange'}); #}
                $("#valida").jqxButton({ theme: 'light' });
                $("#cerrar").jqxButton({ theme: 'light' });


                $("#password").jqxPasswordInput({
                    width: 250, height: 20,  placeHolder: "Ingrese Clave", showStrength: true, showStrengthPosition: "right",theme: 'orange', maxLength: 15,
                    // The passwordStrength enables you to override the built-in strength calculation.
                    passwordStrength: function (password, characters, defaultStrength) {
                        var length = password.length;
                        var letters = characters.letters;
                        var numbers = characters.numbers;
                        var specialKeys = characters.specialKeys;
                        var strengthCoefficient = letters + numbers + 2 * specialKeys + letters * numbers * specialKeys;
                        var strengthValue;
                        if (length < 4) {
                            strengthValue = "bajo";
                        } else if (length < 10) {
                            strengthValue = "medio";
                        } else {
                            strengthValue = "Alto";
                        }
                        return strengthValue;
                    },
                    // The strengthTypeRenderer enables you to override the built-in rendering of the Strength tooltip.
                    strengthTypeRenderer: function (password, characters, defaultStrength) {
                        var length = password.length;
                        var letters = characters.letters;
                        var numbers = characters.numbers;
                        var specialKeys = characters.specialKeys;
                        var strengthCoefficient = letters + numbers + 2 * specialKeys + letters * numbers / 2 + length;
                        var strengthValue;
                        var color;
                        if (length < 4) {
                            strengthValue = "Bajo";
                            color = "rgb(170, 0, 51)";
                        } else if (length < 10) {
                            strengthValue = "Medio";
                            color = "rgb(45, 152, 243)";
                        } else {
                            strengthValue = "Alto";
                            color = "rgb(118, 194, 97)";
                        }
                        return "<div style='font-style: italic; font-weight: bold; color: " + color + ";'>" + strengthValue + "</div>";
                    },
                });
                $("#password").val('');
                // Create jqxValidator.
                $("form").jqxValidator({
                    rules: [
                        {
                            input: "#usuNombres", message: "Nombre es requerido!", action: 'keyup, blur', rule: function (input, commit) {
                            return input.val() != "" && input.val() != "First";
                        }
                        },
                        {
                            input: "#usuApellidos", message: "Apellido es requerido!", action: 'keyup, blur', rule: function (input, commit) {
                            return input.val() != "" && input.val() != "First";
                        }
                        },
                        { input: '#email', message: 'E-mail es requerido!', action: 'keyup, blur', rule: 'required' },
                        {#                        { input: '#email', message: 'E-mail no valido!', action: 'keyup', rule: 'email' },#}
                        { input: "#username", message: "Usuario es requerido!", action: 'keyup, blur', rule: 'required' }

                    ]
                });
                // Validate the Form.
                $("#valida").click(function () {
                    if($("#enabled").val()==true){
                        $("#enabled").val(1);
                    }else{
                        $("#enabled").val(0);
                    }

                    $('form').jqxValidator('validate');
                });

                $('form').on('validationSuccess', function (event) {
                    $('#submit').click();
                });

                var control="";
                $("form").submit(function( event ) {
                    if(control != ''){
                        return false;
                    }
                    var val =0;
                    users.map(function (person) {
                        {#                    console.debug(person);#}
                        if (person.username.toUpperCase() == $('#username').val().toUpperCase()) {
                            val = 1;
                        }
                    });
                    if(val == 1){
                        alert("Nombre de Usuario no disponible!");
                        $('#username').focus();
                        return false;
                    }

                    var val =0;
                    users.map(function (person) {
                        {#                    console.debug(person);#}
                        if (person.email.toUpperCase() == $('#email').val().toUpperCase()) {
                            val = 1;
                        }
                    });
                    if(val == 1){
                        alert("Correo electrónico ya registrado!");
                        $('#email').focus();
                        return false;
                    }

                    $("#roles").val('ROLE_USER');
                    control = "submit";
                });

        </script>
    {% else%}
        <h2>NO TIENE PERMISOS DE ACCESO </h2>
    {% endif %}

{% endblock %}
