{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Usulider</th>
                <td>{{ user.usuLider }}</td>
            </tr>
            <tr>
                <th>Usunomape</th>
                <td>{{ user.usuNomape }}</td>
            </tr>
            <tr>
                <th>Usunombres</th>
                <td>{{ user.usuNombres }}</td>
            </tr>
            <tr>
                <th>Usuapellidos</th>
                <td>{{ user.usuApellidos }}</td>
            </tr>
            <tr>
                <th>Usuapenom</th>
                <td>{{ user.usuApenom }}</td>
            </tr>
            <tr>
                <th>Usucola</th>
                <td>{{ user.usuCola }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
