{% extends "FOSUserBundle::layout.html.twig" %}
{#{% extends '::base.html.twig' %}#}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


<br>
    <div id="titulo" style="position: absolute; color: #070734; font-family: 'Ek Mukta', sans-serif; font-size: 28px;width:300px; text-align: center  ">
        <h3 style="color: #00a0da;">Bienvenidos</h3>
    </div>    
    <br>
    <br>
    <div id="espacio" style="position: relative; top: 0px;width: 100%; height: 2px; background-color: #00a0da;" ></div>
    <form action="{{ path("fos_user_security_check") }}" method="post" name="formulario" >
        <div align="left" width="100%">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <br>
            <div style="position: absolute; min-width: 90px; " align="right" ><label for="username" style="color: white" >Usuario:</label></div>
            <div style="position: absolute; left:95px; max-width: 200px">
                <input type="text" id="username" name="_username" required="required" autocomplete="off" maxlength="30" class="txtfield" tabindex="1">
            </div>
            <br>
            <br>
            <div style="position: absolute; min-width: 90px" align="right"><label for="username" style="color: white" >Contraseña:</label></div>
            <div style="position: absolute; left:95px; max-width: 90px">
                <input type="password"  id="clave_ingreso" name="_password" autocomplete="new-password" required="required" class="txtfield" tabindex="2"> 
            </div>
            <br>
            <br>
        </div>

        <br>
        <div id="espacio" style="position: relative; top: 0px;width: 100%; height: 2px; background-color: #00a0da;" ></div>
        <br>
            <div align="center">
                <input type="submit" name="loginbtn" id="btnlogin" class="flatbtn-blu hidemodal" value="Iniciar Sesión" tabindex="3">
            </div>
    </form>

    
<script language="javascript" type="text/javascript">
    var error = "{{error}}";
        $("#username").jqxInput({placeHolder: "ingrese R.U.C.", height: 25, width: 180, maxLength: 30,  theme: "orange" });
        $("#clave_ingreso").jqxInput({placeHolder: "", height: 25, width: 180, maxLength: 30,  theme: "orange" }); 
        $("#btnlogin").jqxButton({ template: "info" });
        $("#username").focus();
        if(error != ''){
            if(error == "User account is disabled."){            
                $("#jqxNotification").jqxNotification({
                    width: "100%", appendContainer: "#capa", opacity: 0.9, autoClose: true, template: 'info',position: 'top-left'
                });
                $('#texto').html("La cuenta de Usuario Se encuentra Inactiva");
            }else{
                $("#jqxNotification").jqxNotification({
                    width: "100%", appendContainer: "#capa", opacity: 0.9, autoClose: true, template: 'error',position: 'top-left'
                });
                $('#texto').html("usuario o contraseña no validos!");
            }
            
            $("#jqxNotification").jqxNotification("open");
        }
    

</script>                

{% endblock fos_user_content %}
                