{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ontiempos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>I3user</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Estado</th>
                <th>Duracion</th>
                <th>Tieobservaciones</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for onTiempo in onTiempos %}
            <tr>
                <td><a href="{{ path('ontiempos_show', { 'id': onTiempo.id }) }}">{{ onTiempo.id }}</a></td>
                <td>{{ onTiempo.fecha }}</td>
                <td>{{ onTiempo.i3user }}</td>
                <td>{{ onTiempo.nombres }}</td>
                <td>{{ onTiempo.apellidos }}</td>
                <td>{{ onTiempo.estado }}</td>
                <td>{% if onTiempo.duracion %}{{ onTiempo.duracion|date('H:i:s') }}{% endif %}</td>
                <td>{{ onTiempo.tieObservaciones }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ontiempos_show', { 'id': onTiempo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ontiempos_edit', { 'id': onTiempo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ontiempos_new') }}">Create a new onTiempo</a>
        </li>
    </ul>
{% endblock %}
