{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ontiempo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ onTiempo.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ onTiempo.fecha }}</td>
            </tr>
            <tr>
                <th>I3user</th>
                <td>{{ onTiempo.i3user }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ onTiempo.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ onTiempo.apellidos }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ onTiempo.estado }}</td>
            </tr>
            <tr>
                <th>Duracion</th>
                <td>{% if onTiempo.duracion %}{{ onTiempo.duracion|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tieobservaciones</th>
                <td>{{ onTiempo.tieObservaciones }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ontiempos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ontiempos_edit', { 'id': onTiempo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
