{% block stylesheets %}
    <link href="{{asset('npstyle.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.base.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.ui-redmond.css')}}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{{asset('jqx/scripts/jquery-1.11.1.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcore.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxmenu.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxpasswordinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxnumberinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdatetimeinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdata.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcalendar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxtooltip.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/globalization/globalize.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxbuttons.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxscrollbar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxtextarea.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcheckbox.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxlistbox.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdragdrop.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdropdownlist.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxexpander.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxvalidator.js')}}"></script>

{% endblock %}
{% block body -%}
    {% set acceso = false %}
    {% if app.user %}
        {% for rol in app.user.roles %}
            {% if rol == 'ADMINISTRADOR'%}
                {% set acceso = true %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if app.user and acceso == true %}
        <table width ="100%" height="100%" align="center" valign="top" style="background-color: #626262">
            <tr>
                <td align="center" valign="top">
                    <div id="crearUsuario" style="font-family: Verdana; font-size: 13px;">
                        <div>
                            Nuevo Periodo
                        </div>
                        <div style="font-family: Verdana; font-size: 13px;">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            {#                    <form id="form" style="overflow: hidden; margin: 10px;" action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>#}
                            <table>
                                <tr>
                                    <td>Nombre</td>
                                    <td>Campaña</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_widget(form.perNombre,{'id':'perNombre','attr':{'readonly':false}}) }}
                                    </td>
                                    <td>
                                        <div id="jqxcampana"></div>
                                        {{ form_widget(form.oncampanas,{'id':'oncampanas','attr':{'readonly':false,'style':'display:none'}}) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Fecha</td>
                                    <td>Estado</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="jqxperfecha"></div>
                                        {{ form_widget(form.perFecha,{'id':'perFecha','attr':{'readonly':true,'style':'display:none'}}) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.perEstado,{'id':'perEstado','attr':{'readonly':true}}) }}
                                    </td>
                                </tr>

                                <tr>
                                    <td>Carga de Productividad</td>
                                    <td>Carga de Tiempos</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form_widget(form.perEstPro,{'id':'perEstPro','attr':{'readonly':true}}) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.perEstTie,{'id':'perEstTie','attr':{'readonly':true}}) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">Observaciones</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {{ form_widget(form.perObservacion,{'id':'perObservacion','attr':{'readonly':false}}) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center"><hr>
                                        <input id="valida" type="button" value="Guardar" />
                                        <a href="{{ path('onperiodos_index') }}"><input id="cerrar" type="button" value="Cerrar" /></a>
                                        <input id="submit" type="submit" style="display:none" />
                                    </td>
                                </tr>
                            </table>
                            {{ form_end(form)}}
                        </div>
                    </div>
                </td>
            </tr>
        </table>


        <script type="text/javascript" language="javascript">
            var onPeriodos = {{onPeriodos|json_encode|raw}};
            var onCampanas = {{onCampanas|json_encode|raw}};
            var source =
                {
                    localdata: onCampanas,
                    datatype: "array",
                    datafields: [
                        { name: 'id' },
                        { name: 'camNombre' }
                    ],
                    async: true
                };
            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#jqxcampana").jqxDropDownList({ source: dataAdapter, displayMember: "camNombre", valueMember: "id", selectedIndex: -1, width: '250', height: '20', theme:'ui-redmond'});
            $("#jqxcampana").change(function(){
                $("#oncampanas").val($("#jqxcampana").val());
            });
            // Create jqxExpander.
            $("#crearUsuario").jqxExpander({  toggleMode: 'none', width: '600px', showArrow: false, theme: 'ui-redmond' });
            // Create jqxInput.
            $("#perNombre").jqxInput({  width: '250px', height: '20px', maxLength: 250, theme: 'ui-redmond'});
            $("#jqxperfecha").jqxDateTimeInput({ width: '250px', height: '20px', formatString: 'yyyy-MM-dd', value: new Date(), theme: 'ui-redmond',readonly: true, disabled: false });
            $('#jqxperfecha').on('valueChanged', function (event) {
                $('#perFecha').val($('#jqxperfecha').val() + " 00:00:00");
            });
            $("#perEstado").jqxInput({  width: '250px', height: '20px', maxLength: 250, theme: 'ui-redmond'});

            $("#perEstado").val('PENDIENTE');
            $("#perEstPro").jqxInput({  width: '250px', height: '20px', maxLength: 250, theme: 'ui-redmond'});
            $("#perEstPro").val('PENDIENTE');
            $("#perEstTie").jqxInput({  width: '250px', height: '20px', maxLength: 250, theme: 'ui-redmond'});
            $("#perEstTie").val('PENDIENTE');
            $('#perObservacion').jqxTextArea({ placeHolder: 'Observaciones...', height: 90, width: 500, maxLength: 590, theme: 'ui-redmond' });

            $("#valida").jqxButton({ theme: 'ui-redmond' });
            $("#cerrar").jqxButton({ theme: 'ui-redmond' });


            // Create jqxValidator.
            $("form").jqxValidator({
                rules: [
                    {
                        input: "#perNombre",
                        message: "Nombre es requerido!",
                        action: 'keyup, blur',
                        rule: function (input, commit) {
                            return input.val() != "" && input.val() != "First";
                        }
                    }

                ]
            });
            // Validate the Form.
            $("#valida").click(function () {
                if($("#oncampanas").val() == ''){
                    alert("Debe seleccionar una campaña!");
                    $("#jqxcampana").focus();
                    return false;
                }
                $('form').jqxValidator('validate');
            });

            $('form').on('validationSuccess', function (event) {
                $('#submit').click();
            });

            var control="";
            $("form").submit(function( event ) {
                if(control != ''){
                    return false;
                }
                var val =0;
                
                var fecha2 = $('#perFecha').val();
                onPeriodos.map(function (person) {
                    var fecha = person.perFecha.date;
{#                    console.log(person.camNombre +"--"+ $("#jqxcampana").text());#}
                    if ((fecha.substr(0, 10) == fecha2.substring(0, 10)) &&(person.camNombre == $("#jqxcampana").text())) {
                        val = 1;
                    }
                });
                if(val == 1){
                    alert("Fecha del Periodo ya se encuentra registrada en esta Campaña!");
                    $('#jqxperfecha').focus();
                    return false;
                }

                control = "submit";
            });

        </script>
    {% else%}
        <h2>NO TIENE PERMISOS DE ACCESO </h2>
    {% endif %}

{% endblock %}
