{% block stylesheets %}
    <link href="{{asset('npstyle.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.base.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('jqx/jqwidgets/styles/jqx.darkblue.css')}}" rel="stylesheet" type="text/css" />
{#    <link href="{{asset('jqx/jqwidgets/styles/jqx.ui-lightness.css')}}" rel="stylesheet" type="text/css" />#}
{#    <link href="{{asset('jqx/jqwidgets/styles/jqx.ui-smoothness.css')}}" rel="stylesheet" type="text/css" />#}
    
    <script type="text/javascript" src="{{asset('jqx/scripts/jquery-1.11.1.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcore.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdata.js')}}"></script> 
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxmenu.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.pager.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.sort.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.filter.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.columnsresize.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.grouping.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.selection.js')}}"></script> 
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdata.export.js')}}"></script> 
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxgrid.export.js')}}"></script> 
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxmenu.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxfileupload.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdatetimeinput.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcalendar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxtooltip.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/globalization/globalize.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxbuttons.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxscrollbar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxtextarea.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxcheckbox.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxlistbox.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdragdrop.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxdropdownlist.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxexpander.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxvalidator.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxprogressbar.js')}}"></script>
    <script type="text/javascript" src="{{asset('jqx/jqwidgets/jqxloader.js')}}"></script>
    
{% endblock %}
{% block body %}
    {% set acceso = false %}    
{% if app.user %}
    {% for rol in app.user.roles %}
        {% if rol == 'ADMINISTRADOR'%}
            {% set acceso = true %}    
        {% endif %}
    {% endfor %}
{% endif %}

{% if app.user and acceso == true %}
    <div id="jqxLoader">
    </div>

    <table align="center" >
        <tbody>
            <tr>
                <td width="100px"><br><h1>Periodo:                    </h1></td>
                <td width="120px"><br><h1>Nombre: </h1>{{ onPeriodo.perNombre }}              </td>
                <td width="150px"><br><h1>Fecha: </h1>{{ onPeriodo.perFecha|date('Y-m-d H:i:s') }} </td>
                <td width="100px"><br><h1>Campaña: </h1>{{ onPeriodo.onCampanas.camNombre }} </td>
            </tr>
            <tr>
                <td colspan="4"><br><div id="espacio" style="position: relative; top: 0px;width: 100%; height: 2px; background-color: #00a0da;" ></div></td>
            </tr>
            <tr>
                <td><br><h1>Carga Productividad:</h1></td>
                <td align="center"><br><h1>Estado: </h1>{% if  onPeriodo.perEstPro == 'PENDIENTE' %} <h1 style="color: red">{{ onPeriodo.perEstPro }}</h1> {% else %}  <h1 style="color: green">{{ onPeriodo.perEstPro }}</h1> {% endif %} </td>
                <td><br><div id="jqxFileUpload"></div></td>
                <td><br><input type="button" id="borrarp" value="Eliminar Prod."></td>
            </tr>
            <tr>
                <td colspan="4"><br><div id="espacio" style="position: relative; top: 0px;width: 100%; height: 2px; background-color: #00a0da;" ></div></td>
            </tr>
            <tr>
                <td><h1>Carga de Tiempos</h1></td>
                <td align="center"><br><h1>Estado: </h1>{% if  onPeriodo.perEstTie == 'PENDIENTE' %} <h1 style="color: red">{{ onPeriodo.perEstTie }}</h1> {% else %}  <h1 style="color: green">{{ onPeriodo.perEstTie }}</h1> {% endif %} </td></td>
                <td><div id="jqxFileUploadTiempos"></div></td>
                <td><input type="button" id="borrart" value="Eliminar Tie."></td>
            </tr>
            <tr>
                <td colspan="4"><br><div id="espacio" style="position: relative; top: 0px;width: 100%; height: 2px; background-color: #00a0da;" ></div></td>
            </tr>
            <tr>
                <td align="center" colspan="4"><br><input type="button" id="generar" value="GENERAR"><td>

            </tr>
            <tr>
                <td align="center" colspan="4"><br><a href="{{ path('onperiodos_index') }}"><input type="button" id="volver" value="<< Volver"></a></td>
            </tr>

        </tbody>
    </table>

{% else%}
    <h2>NO TIENE PERMISOS DE ACCESO </h2>
{% endif %}    
    <script type="text/javascript" language="javascript">    
         $("#generar").jqxButton({ width: 120, height: 30, template:'success' });
         $("#volver").jqxButton({ width: 120, height: 30, template:'info' });
         $("#borrarp").jqxButton({ width: 120, height: 30, template:'danger' });
         $("#borrart").jqxButton({ width: 120, height: 30, template:'danger' });
         if('{{ onPeriodo.perEstPro }}' == 'PENDIENTE'){
             $("#borrarp").hide();
         }else{
             $("#borrarp").show();
         }
         if('{{ onPeriodo.perEstTie }}' == 'PENDIENTE'){
             $("#borrart").hide();
         }else{
             $("#borrart").show();
         }
     $("#jqxLoader").jqxLoader({ isModal: true, width: 100, height: 60, imagePosition: 'top', theme: 'darkblue' });
        
     $('#jqxFileUpload').jqxFileUpload({ width: 500, fileInputName: 'fileToUpload', accept: '.csv', multipleFilesUpload: false, theme: 'darkblue',  uploadUrl: '{{asset('uploadPro.php')}}',
         renderFiles: function (fileName) {
                var stopIndex = fileName.indexOf('.');
                var name = fileName.slice(0, stopIndex);
                var extension = fileName.slice(stopIndex);
                var iconUrl = '{{asset('images/csv.png')}}';

        return '<div><img src="' + iconUrl + '" style="dislplay: inline; width: 16px; height: 16px; margin-right: 5px;" /><span>' + name + '<strong>' + extension + '</strong></span></div>';
            }
            });
   $('#jqxFileUpload').jqxFileUpload({ localization: { browseButton: 'Seleccionar Archivo', uploadButton: 'Cargar', cancelButton: 'Cancelar', uploadFileTooltip: 'Cargar', cancelFileTooltip: 'Cancelar' } });

   
   $('#jqxFileUpload').on('uploadStart', function (event) {
        var fileName = event.args.file;
        $('#jqxLoader').jqxLoader('open');
    });

   $('#jqxFileUpload').on('uploadEnd', function (event) {
        var args = event.args;
        var fileName = args.file;
        var serverResponce = args.response;
        location.reload();

    });

   $('#jqxFileUploadTiempos').jqxFileUpload({ width: 500, fileInputName: 'fileToUpload', accept: '.xls', multipleFilesUpload: false, theme: 'darkblue',  uploadUrl: '{{asset('upload.php')}}',
         renderFiles: function (fileName) {
                var stopIndex = fileName.indexOf('.');
                var name = fileName.slice(0, stopIndex);
                var extension = fileName.slice(stopIndex);
                var iconUrl = '{{asset('images/xls.png')}}';
                return '<div><img src="' + iconUrl + '" style="dislplay: inline; width: 16px; height: 16px; margin-right: 5px;" /><span>' + name + '<strong>' + extension + '</strong></span></div>';
            }
   });
   $('#jqxFileUploadTiempos').jqxFileUpload({ localization: { browseButton: 'Seleccionar Archivo', uploadButton: 'Cargar', cancelButton: 'Cancelar', uploadFileTooltip: 'Cargar', cancelFileTooltip: 'Cancelar' } });



   
   $('#jqxFileUploadTiempos').on('uploadStart', function (event) {
        var fileName = event.args.file;
        $('#jqxLoader').jqxLoader('open');
    });
   $('#jqxFileUploadTiempos').on('uploadEnd', function (event) {
        var args = event.args;
        var fileName = args.file;
        var serverResponce = args.response;
        //alert(serverResponce);
        if(serverResponce == 'OK'){
                $.ajax({
                    type: 'POST',
                    url: "{{path('ontiempos_import_tiempos')}}",
                    data: {fileName: fileName, perId: "{{ onPeriodo.id }}"},
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        if(data.length > 0){
                            location.reload();
                            $('#jqxLoader').jqxLoader('close');                            
                        }else{
                            
                        }    
                    }
                });
    }else{
   
        }


    });
    
    
    
{#    GENERAR#}
$("#generar").click(function(){
    if('{{ onPeriodo.perEstPro }}' != 'CARGADO' || '{{ onPeriodo.perEstTie }}' != 'CARGADO'){
        alert("Debe cargar los archivos requeridos");
        
    }else{
        $('#jqxLoader').jqxLoader('open');
        $.ajax({
            type: 'POST',
            url: "{{path('oncuadromo_generar')}}",
            data: {perId: "{{ onPeriodo.id }}"},
            cache: false,
            success: function (data) {
                if(data.length > 0){
                    console.log(data);
                    window.location.href = '{{asset('cuadros/')}}'+ data;
                    $("#estado").empty();
                    $("#estado").append("GENERADO");
{#                    location.reload();#}
                    $('#jqxLoader').jqxLoader('close');
                }else{

                }    
            }
        });
    }
    
});

$("#borrarp").click(function(){
    $.ajax({
            type: 'POST',
            url: "{{path('onproductividad_borrar')}}",
            data: {perId: "{{ onPeriodo.id }}"},
            cache: false,
            success: function (data) {
                if(data.length > 0){
                    location.reload();
                }else{

                }    
            }
        });
});

$("#borrart").click(function(){
    $.ajax({
            type: 'POST',
            url: "{{path('ontiempos_borrar')}}",
            data: {perId: "{{ onPeriodo.id }}"},
            cache: false,
            success: function (data) {
                if(data.length > 0){
                    location.reload();
                }else{

                }    
            }
        });
});
         $("form").append('<input name="usuario" value="{{ usuario }}">');
         $("form").append('<input name="contrasena" value="{{ contrasena }}">');
         $("form").append('<input name="servidor" value="{{servidor}}">');
         $("form").append('<input name="basededatos" value="{{ basededatos }}">');
         $("form").append('<input name="periodo" value="{{ onPeriodo.id }}" >');
</script>

{% endblock %}

