html {
        overflow: scroll;
     }
h1 {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #000;
    font-size: 13px;
    /*top:10px;*/
}
h2 {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-left: 20;
    color:#FFF;
}
h2-1 {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-left: 5;
    color:#f6a828;
}

h3 {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #00a0da;
    font-size: 22px;
}
h31 {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
    font-size: 20px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*GRID*/
h5 {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #004a73;
    font-size: 12px;
    /*top:10px;*/
}
h5-1 {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #C82829;
    font-size: 11px;
    /*top:10px;*/
}
h5-2 {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #e17009;
    font-size: 11px;
    /*top:10px;*/
}
h5-3 {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #008000;
    font-size: 11px;
    /*top:10px;*/
}
h5-4 {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: red;
    font-size: 11px;
    /*top:10px;*/
}



/*etiquetas rojas*/
h6 {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #C82829;
    font-size: 12px;
}
/*etiquetas tomates titulos*/
h7 {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #e17009;
    font-size: 14px;
}

/*Titulos audiroeias*/
h8 {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #C82829;
    font-size: 26px;
}

h9 {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #FFF;
    font-size: 10px;
    /*top:10px;*/
}

div label {
    font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #555;
    font-size: 14px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

gridbotones {
    margin: 0;
}

p {
    text-align : justify;
    /*display: table-cell;*/
    /*vertical-align: top;*/
    /*padding: 10px;*/
}
body{margin: 0 auto;}
/*body {
   -moz-transform: scale(0.8, 0.8);
   zoom: 0.8;
   zoom: 80%;
}*/

divcenter {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*CELDAS JQXGRID*/

        .green {
            color: white\9;
            background-color: #008000\9;
        }
        .yellow {
            color: black\9;
            background-color: yellow\9;
        }
        .red {
            color: white\9;
            background-color: red\9;
        }
        .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
            color: white;
            background-color: #008000;
        }
        .yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
            color: black;
            background-color: yellow;
        }
        .red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
            color: black;
            background-color: #e83636;
        }


/*@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);*/


.selector {
  position: absolute;
  /*left: 50%;*/
  /*top: 50%;*/
  width: 150px;
  height: 150px;
  /*margin-top: -50px;*/
  /*margin-left: -50px;*/
}

.selector, .selector button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.selector button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
/*  background: #3071a9;*/
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all .1s;
}

.selector button:hover {
  background: #3071a9;
}

.selector button:focus {
  outline: none;
}

.selector ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
}

.selector li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 0.8s ease-in-out;
}

.selector li input {
  display: none;
}

.selector li input + label {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #449d44;
  color: #f0f0f0;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}

.selector li input + label:hover {
  background: #5cb85c;
}

.selector li input:checked + label {
  background: #449d44;
  color: white;
}

.selector li input:checked + label:hover {
  background:  #449d44;
}

.selector.open li input + label {
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin-left: -50px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.jqx-grid-cell-left-align {
    font-size: 11px;
    color: black;
}
.jqx-grid-cell-right-align{
    font-size: 11px;
    color: black;
}
.jqx-grid-column-header {
    font-size: 12px;

}
.jqx-listitem-state-normal {
    font-size: 11px;

}
hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 90%;
       max-height: 0;
       font-size: 0.5px;
       line-height: 0;
       /*clear: both;*/
       border: none;
       border-top: 0.5px solid #aaaaaa;
       border-bottom: 0.5px solid #ffffff;
    }